@import url(https://fonts.googleapis.com/css?family=Lato);
body {
  background-image: linear-gradient( 135deg, #0a8d82 10%, #6a3c87 80%);
  background-size: auto 100vh;
  font-family: Lato, Arial;
  height: 10vh;
  margin: 0;
}

.menu {
  background-color: white;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

a {
  color: teal;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.site-subtitle,
.site-title {
  text-align: center;
  color: whitesmoke;
}